@media (max-width: 600px) {
  body {
    height: fit-content;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    /* height: 1000px; */
  }
  .layer1 .history {
    width: fit-content;
  }
  .layer2 {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
  }
  .content .layer2 .cards {
    display: flex;
    width: 40%;

    height: 35%;
    margin: 10px;
  }
  .layer4 {
    flex-direction: column;
  }
  .content .layer4 .analysis1 {
    width: 100%;
    /* background-color: aqua; */
  }
  .content .layer4 .analysis2 {
    width: 100%;
    height: 300px;
    margin-top: 15px;
    /* background-color: aqua; */
  }
  .content .layer5 {
    flex-direction: column-reverse;
  }
  .content .layer5 .future2 {
    width: 100%;
    margin-top: 15px;
  }
  .content .layer5 .future1 {
    width: 100%;
    margin-top: 15px;
  }
  .sidebar {
    display: none;
    position: absolute;
    z-index: 11;
    width: 70%;

    height: 100vh;
  }
  .container {
    margin: 30px;
    position: relative;
    /* width: fit-content; */
  }
.log {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 30px;
  margin-right: 20px;
}

.log .a {
  width: 100%;
  height: calc(100% / 3);
  background-color: #de603e;
  border-radius: 3px;
  margin-bottom: 3px;
}
.log .b {
  width: 70%;
  height: calc(100% / 3);
  background-color: #e1a800;
  border-radius: 3px;
  margin-bottom: 3px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}
.log .c {
  width: 100%;
  height: calc(100% / 3);
  background-color: #449045;
  border-radius: 3px;
}
.log:hover .b {
  width: 100%;
}

}
